# Directorios y archivos generados automáticamente
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Archivos de datos generados
data/
*.csv
*.xlsx
*.txt

# Configuración y credenciales
.env
config/

# Archivos de dependencias
*.egg-info/
*.egg

# Archivos de compilación
build/
dist/
*.egg-info/

# Archivos de configuración del entorno
*.venv/
*.virtualenv/

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db
